.Header {
  position: fixed;
  width: calc(100% - 160px);
  padding: 0px 80px;
  box-shadow: 0px 5px 0px 0px rgba(152, 104, 85, 0.05);
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: -100px;
  z-index: 9999999;
}
.Header {
  position: relative;
  box-shadow: 0px 0px 0px 0px rgba(152, 104, 85, 0.05);
}

.Header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100px;
}

.Header__icons {
  display: flex;
  align-items: center;
  height: 100%;
}

.Header__icons__divider {
  position: relative;
  width: 1px;
  height: 50px;
  background-color: #f7f4f3;
}



.Header__item__background {
  position: absolute;
  top: 0px;
  right: -1px;
  width: 0%;
  height: 100%;
  border-radius: 1px;
  background-color: transparent;
  overflow: hidden;
  margin-left: -25px;
  transition: all 0.25s ease-in-out 0s;
}
.Header__item:hover .Header__item__background,
.Header__item:focus .Header__item__background {
  width: calc(100% + 2px);
  left: -1px;
  margin-left: 0px;
  background-color: #f7f4f3;
}



@media only screen and (max-width: 640px) {

  .Header {
    width: auto;
    padding: 0px 0px 0px 25px;
  }

}
