.BoxItem {
  position: relative;
  flex-basis: calc((100% / 3) - 20px);
  width: calc((100% / 3) - 20px);
  text-decoration: none;
  outline: none;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.05),
    0px 0px 0px 0px rgba(0, 0, 0, 0);
  background-color: transparent;
  overflow: hidden;
  cursor: pointer;
  transition: background 0.15s ease-in-out 0s,
    box-shadow 0.15s ease-in-out 0s;
}
.BoxItem:hover {
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.15),
    0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1;
}
.BoxItem:focus {
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.05),
    0px 0px 5px -3px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  z-index: 1;
}


.BoxItem--type-1 {
  background-color: #fff;
}
.BoxItem--type-2 {
  background-color: #fff;
  z-index: 1;
}

.BoxItem--type-2 {
  background-size: 8px auto;
}
.BoxItem--type-3 {
  background-color: #efebe9;
}




.BoxItem__image {
  position: relative;
  height: 250px;
  background-color: #444;
}





.BoxItem__text {
  padding: 0px 45px;
}
.BoxItem--type-1 .BoxItem__text,
.BoxItem--type-2 .BoxItem__text {
  padding: 45px 45px 0px 45px;
}
.BoxItem--type-3 .BoxItem__text {
  padding: 0px 45px;
}



.BoxItem__title {
  font-weight: 500;
  text-align: left;
  transition: color 0.15s ease-in-out 0s;
}
.BoxItem--type-1 .BoxItem__title,
.BoxItem--type-2 .BoxItem__title {
  color: #da3333;
  font-size: 32px;
  font-family: 'Arsenal', sans-serif;
  letter-spacing: 0.75px;
  line-height: 40px;
  text-shadow: 1px 1px 2px #fff;
}
.BoxItem--type-1:hover .BoxItem__title,
.BoxItem--type-1:focus .BoxItem__title {
  color: rgba(0, 0, 0, 0.8);
}
.BoxItem--type-1 .BoxItem__title {
  color: #892222;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.BoxItem--type-1:hover .BoxItem__title {
  color: #c74c4c;
}
.BoxItem--type-2 .BoxItem__title {
  color: #da3333;
}
.BoxItem--type-2:hover .BoxItem__title,
.BoxItem--type-2:focus .BoxItem__title {
  color: rgba(0, 0, 0, 0.8);
}
.BoxItem--type-3 .BoxItem__title {
  color: #000;
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 0.25px;
}
.BoxItem--type-3:hover .BoxItem__title,
.BoxItem--type-3:focus .BoxItem__title {
  color: #c74c4c;
}



.BoxItem__desc {
  color: #000;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0.5px;
  padding: 15px 0px;
  transition: color 0.15s ease-in-out 0s;
}
.BoxItem--type-1 .BoxItem__desc,
.BoxItem--type-2 .BoxItem__desc {
  font-size: 16px;
  line-height: 24px;
}
.BoxItem--type-3 .BoxItem__desc {
  font-size: 16px;
  line-height: 24px;
}



.BoxItem__icon {
  background-position: center center;
  background-repeat: no-repeat;
}
.BoxItem--type-1 .BoxItem__icon,
.BoxItem--type-2 .BoxItem__icon {
  width: 100px;
  height: 100px;
  background-size: 85% auto;
  margin: 45px 45px -25px auto;
  transform: scale(1.0);
  opacity: 0.25;
  filter: blur(0px) grayscale(0);
  transition: filter 0.15s ease-in-out 0s,
    transform 0.15s ease-in-out 0s,
    opacity 0.15s ease-in-out 0s;
}
.BoxItem--type-1 .BoxItem__icon,
.BoxItem--type-1 .BoxItem__icon {
  transform: scale(1.0);
  opacity: 0.75;
}
.BoxItem--type-1:hover .BoxItem__icon,
.BoxItem--type-1:focus .BoxItem__icon {
  transform: scale(1.25);
  filter: blur(0px) grayscale(1.0);
  opacity: 0.25;
}
.BoxItem--type-2:hover .BoxItem__icon,
.BoxItem--type-2:focus .BoxItem__icon {
  transform: scale(1.25);
  opacity: 0.075;
}

.BoxItem__icon--design {
  background-image: url('../../../static/icons/design-icon.png');
}
.BoxItem__icon--development {
  background-image: url('../../../static/icons/development-icon.png');
}
.BoxItem__icon--mobile {
  background-image: url('../../../static/icons/mobile-development.png');
}
.BoxItem__icon--deployment {
  background-image: url('../../../static/icons/deployment-icon.png');
}
.BoxItem__icon--wordpress {
  background-image: url('../../../static/icons/wordpress-icon.png');
}
.BoxItem__icon--data-management {
  background-image: url('../../../static/icons/database-management.png');
}
.BoxItem__icon--search-optimization {
  background-image: url('../../../static/icons/search-optimization.png');
}
.BoxItem__icon--maintenance {
  background-image: url('../../../static/icons/maintenance-icon.png');
}
.BoxItem__icon--managed-services {
  background-image: url('../../../static/icons/managed-services-tick.png');
}
.BoxItem__icon--api-integration {
  background-image: url('../../../static/icons/api-integration.png');
}
.BoxItem__icon--custom-application {
  background-image: url('../../../static/icons/custom-application.png');
}
.BoxItem__icon--performance-optimization {
  background-image: url('../../../static/icons/performance-optimization.png');
}

.BoxItem--type-3 .BoxItem__icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-size: 40% auto;
  margin: 0px 0px 0px 0px;
}

.BoxItem__icon--conversion {
  background-image: url('../../../static/icons/sales-conversion.png');
}
.BoxItem__icon--subscription {
  background-image: url('../../../static/icons/hollow-cube.png');
}
.BoxItem--type-3 .BoxItem__icon--pricematch {
  background-image: url('../../../static/icons/price-tag.png');
  background-image: url('https://image.flaticon.com/icons/svg/1179/1179545.svg');
  background-size: 45% auto;
}
.BoxItem__icon--performance {
  background-image: url('../../../static/icons/performance-optimization.png');
}
.BoxItem--type-3 .BoxItem__icon--security {
  background-image: url('../../../static/icons/security-icon-black.png');
  background-image: url('https://image.flaticon.com/icons/svg/1650/1650877.svg');
  background-size: 50% auto;
}



.BoxItem__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 45px;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
}
.BoxItem__button__text {
  flex-basis: calc(100% - 20px);
  color: #444;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: 0.75px;
  opacity: 0;
  transition: opacity 0.15s ease-in-out 0s;
}
.BoxItem:hover .BoxItem__button__text,
.BoxItem:focus .BoxItem__button__text {
  opacity: 1.0;
}
.BoxItem--type-3 .BoxItem__button {
  padding: 0px 25px 25px 45px;
  margin-top: -5px;
}
.BoxItem--type-3 .BoxItem__button__text {
  visibility: hidden;
}


.BoxItem__button__arrow {
  position: relative;
  flex-basis: 20px;
  width: 20px;
  height: 20px;
  left: -20px;
  opacity: 0;
  background-image: url('../../../static/icons/arrow-right-black.png');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: left 0.15s ease-in-out 0s,
    opacity 0.15s ease-in-out 0s;
}
.BoxItem--type-3 .BoxItem__button__arrow {
  opacity: 0;
}
.BoxItem:hover .BoxItem__button__arrow,
.BoxItem:focus .BoxItem__button__arrow {
  left: 0px;
  opacity: 0.25;
}







@media only screen and (max-width: 640px) {

  .BoxItem {
    flex-basis: 100%;
    margin: 10px;
  }
  
  .BoxItem__text {
    padding: 0px 20px;
  }
  .BoxItem--type-1 .BoxItem__text,
  .BoxItem--type-2 .BoxItem__text {
    padding: 75px 20px 0px 20px;
  }

  .BoxItem--type-1 .BoxItem__icon,
  .BoxItem--type-2 .BoxItem__icon {
    margin-right: 25px;
    transform: scale(1.25);
    opacity: 0.1;
  }
  .BoxItem--type-3 .BoxItem__icon {
    margin-left: -20px;
  }

  .BoxItem__button {
    padding: 25px 20px;
  }
  /* .BoxItem--type-1 .BoxItem__button,
  .BoxItem--type-2 .BoxItem__button {
    justify-content: flex-end;
  } */
  .BoxItem .BoxItem__button__text {
    flex-basis: auto;
    margin-right: 15px;
    opacity: 1.0;
  }
  .BoxItem .BoxItem__button__arrow {
    flex-basis: 15px;
    width: 15px;
    height: 15px;
    left: 0px;
    opacity: 0.25;
  }

}