.Technologies {
  padding: 50px 80px;
}
.Technologies__list {
  display: flex;
  justify-content: space-between;
}
.Technologies__list__item {
  flex-basis: calc((100% / 5) - 20px);
  margin: 10px;
}
.Technologies__list__item__holder {
  position: relative;
  width: 100%;
  height: 0px;
  padding-bottom: 75%;
  border-radius: 5px;
  cursor: pointer;
}
.Technologies__list__item__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-size: 75% auto;
  background-position: center center;
  background-repeat: no-repeat;
}
.Technologies__list__item__image--node {
  background-image: url('../../../../static/logos/third-party/nodejs-icon.svg');
  background-size: 40% auto;
  background-image: url('../../../../static/logos/third-party/node-logo.png');
  background-size: 55% auto;
}
.Technologies__list__item__image--react {
  background-image: url('../../../../static/logos/third-party/react.png');
  background-size: 40% auto;
}
.Technologies__list__item__image--mysql {
  background-image: url('../../../../static/logos/third-party/mysql-logo.svg');
  background-size: 60% auto;
}
.Technologies__list__item__image--wordpress {
  background-image: url('../../../../static/logos/third-party/wordpress-icon.svg');
  background-image: url('../../../../static/logos/third-party/wordpress-logo.svg');
  background-size: 80% auto;
}
.Technologies__list__item__image--aws {
  background-image: url('../../../../static/logos/third-party/amazon_aws-logo.svg');
  background-size: 80% auto;
}
