.SectionTitle {
  opacity: 0.75;
  padding: 0px 10px;
}
.SectionTitle--center {
  text-align: center;
}
.SectionTitle--left {
  text-align: left;
}
.SectionTitle--right {
  text-align: right;
}

.SectionTitle__h2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-top: -20px;
  color: #892222;
  font-size: 36px;
  font-family: 'Arsenal', sans-serif;
  font-weight: 700;
  font-style: italic;
  padding: 0px 16px;
  margin-bottom: 25px;
}
.SectionTitle--left .SectionTitle__h2 {
  margin-left: 27px;
}


.SectionTitle__line {
  height: 0px;
  border-bottom: 3px dotted rgba(121, 86, 73, 0.25);
}



@media only screen and (max-width: 640px) {

  .SectionTitle__h2 {
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 25px;
  }

}
