.HeaderMenuIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100px;
  width: 100px;  
  height: 100%;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.25s ease-in-out 0s;
}



@media only screen and (max-width: 640px) {

  .HeaderMenuIcon {
    flex-basis: 75px;
    width: 75px;
  }

}