.SelectInput {
  position: relative;
  z-index: 1;
  transition: z-index 1s ease-in-out 0s;
}
.SelectInput[data-focused="true"] {
  z-index: 2;
  transition: z-index 0s ease-in-out 0s;
}



.SelectInput__bg {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #ccc;
}
.SelectInput[data-focused="false"] .SelectInput__bg,
.SelectInput[data-opened="false"] .SelectInput__bg {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.25s ease-in-out 0.1s,
    opacity 0.25s ease-in-out 0s;
}
.SelectInput[data-focused="true"] .SelectInput__bg,
.SelectInput[data-opened="true"] .SelectInput__bg {
  visibility: visible;
  opacity: 0.9;
  transition: visibility 0.25s ease-in-out 0s,
    opacity 0.25s ease-in-out 0s;
}



.SelectInput__holder {
  position: relative;
  border-radius: 5px;
  padding: 25px 25px 15px 25px;
  margin: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.25s ease-in-out 0s;
  z-index: 1;
}
.SelectInput--nolabel .SelectInput__holder {
  padding: 15px 25px;
}
.SelectInput[data-focused="false"] .SelectInput__holder,
.SelectInput[data-opened="false"] .SelectInput__holder {
  background-color: transparent;
}
.SelectInput[data-focused="false"] .SelectInput__holder:hover {
  background-color: rgba(0, 0, 0, 0.015);
  transition: background-color 0.25s ease-in-out 0s;
}
.SelectInput[data-focused="true"] .SelectInput__holder {
  background-color: #fff;
  transition: background-color 0.25s ease-in-out 0s;
}
.SelectInput[data-opened="true"] .SelectInput__holder {
  background-color: #f5f5f5;
  transition: background-color 0.25s ease-in-out 0s;
}



.SelectInput__input__holder {
  display: flex;
  position: relative;
  padding-top: 25px;
}
.SelectInput--nolabel .SelectInput__input__holder {
  padding-top: 0px;
}

.SelectInput__label {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #1976D2;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.SelectInput__input {
  display: block;
  flex-basis: 100%;
  position: relative;
  border: 0px;
  outline: 0px;
  padding: 5px 0px 0px 0px;
  box-shadow: 0px 0px 0px 0px #000;
  background-color: transparent;
}

.SelectInput__placeholder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0px;
  margin: -10px 0px 0px 0px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.SelectInput[data-opened="true"] .SelectInput__placeholder {
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0);
}
.SelectInput__placeholder__text {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0.5;
}
.SelectInput[data-filled="true"] .SelectInput__placeholder__text {
  opacity: 1.0;
}
.SelectInput__placeholder__icon {
  position: relative;
  flex-basis: 25px;
  width: 25px;
  height: 25px;
  background-image: url('../../../static/icons/arrow-down-black.png');
  background-size: 65% auto;
  background-position: center center;
  background-repeat: no-repeat;
  transform: rotate(0deg);
  opacity: 0.5;
}
.SelectInput[data-opened="true"] .SelectInput__placeholder__icon {
  transform: rotate(180deg);
}

.SelectInput__options {
  position: relative;
  height: 0px;
}
.SelectInput__options__list {
  visibility: hidden;
  position: relative;
  top: -25px;
  margin: 0px -25px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
  overflow: hidden;
  background-color: #f5f5f5;
  opacity: 0;
  transition: visibility 0.15s linear 0.25s,
    top 0.15s linear 0.15s,
    opacity 0.15s linear 0s;
}
.SelectInput[data-opened="true"] .SelectInput__options__list {
  visibility: visible;
  top: 0px;
  opacity: 1.0;
  transition: visibility 0.25s linear 0s,
    top 0.25s linear 0.075s,
    opacity 0.25s linear 0.15s;
}
.SelectInput__options__list__holder {

}
.SelectInput__options__item {
  position: relative;
  padding: 17px 25px;
  outline: none;
  margin-top: 3px;
  background-color: #fff;
  cursor: pointer;
}
.SelectInput__options__item:hover,
.SelectInput__options__item:focus {
  box-shadow: 0px 0px 0px 2px #1976D2;
  background-color: #1976D2;
  z-index: 99;
}
.SelectInput__options__item__text {
  color: #444;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.SelectInput__options__item:hover .SelectInput__options__item__text,
.SelectInput__options__item:focus .SelectInput__options__item__text {
  color: #fff;
}
