.ChoiceInput {
  border-radius: 5px;
  padding: 25px 25px 15px 25px;
  margin: 10px;
  background-color: transparent;
  cursor: text;
}
.ChoiceInput[data-focused="false"] {
  background-color: transparent;
}
.ChoiceInput[data-focused="false"]:hover {
  background-color: rgba(0, 0, 0, 0.015);
}
.ChoiceInput[data-focused="true"] {
  background-color: rgba(0, 0, 0, 0.035);
}

.ChoiceInput__holder {
  display: flex;
  position: relative;
  padding-top: 25px;
}

.ChoiceInput__label {
  position: absolute;
  top: 0px;
  left: 0px;
  color: #1976D2;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  cursor: text;
}
.ChoiceInput__input {
  display: block;
  flex-basis: 100%;
  border: 0px;
  outline: 0px;
  padding: 10px 5px 10px 0px;
  box-shadow: 0px 0px 0px 0px #000;
  background-color: transparent;
}

.ChoiceInput__input__options {
  display: flex;
  flex-wrap: wrap;
}
.ChoiceInput__input__options__item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: -15px 25px -15px -15px;
  cursor: pointer;
}
.ChoiceInput__input__options__item__text {
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
  padding: 0px 0px 0px 10px;
  cursor: pointer;
}
.ChoiceInput__input__options__item__checkbox {
  position: relative;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.075);
  transition: background-color 0.15s ease-in-out 0s,
}
.ChoiceInput__input__options__item__checkbox:focus {
  background-color: rgba(0, 0, 0, 0.2);
}
.ChoiceInput__input__options__item__checkbox[data-selected="true"] {
  background-color: #329dec;
}
.ChoiceInput__input__options__item__checkbox[data-selected="true"]:focus {
  background-color: #1c87d5;
}

.ChoiceInput__input__options__item__checkbox__image {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-image: url('../../../static/icons/close-icon.png');
  background-size: 50% auto;
  background-position: center center;
  background-repeat: no-repeat;
  filter: invert(1.0);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.15s ease-in-out 0s,
    opacity 0.15s ease-in-out 0s;
}
.ChoiceInput__input__options__item__checkbox__image[data-selected="true"] {
  opacity: 1.0;
  transform: scale(1.0);
}
